<h1>Main#users</h1>
<p>Find me in app/views/main/users.html.erb</p>


<% if @current_user %>
<p>
You are:<strong> <%=
@current_user.email
%> </strong>
<br> <%=  @current_user.password  %>
</p>

<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Email</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="row">
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>



</table>