<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
      	<%= link_to "Home", main_index_path %>
      </li>
      <li>
        	<%= link_to "Users",  main_users_path  %>
      </li>
      <li>
        	<%= link_to "Login",  main_users_path  %>
      </li>

      <li>
        	<%= link_to "LogOut",  destroy_user_session_path, method: 'delete' %>
      </li>

      <li>
        	<%= link_to "Register",   new_user_registration_path   %>
      </li>

     <li>
        	<%= link_to "Login with Facebook",    user_facebook_omniauth_authorize_path %>
      </li>
    </ul>
  </div>
</nav>