<!DOCTYPE html>
<html>
  <head>
    <title>Bekbolot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= if @current_user
          @current_user.email
        end

    %>

    <%= render 'layouts/navbar' %>

    <%= yield %>
  </body>
</html>
